* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    ;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

nav {
    width: 100%;
    padding: 10px 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #ffffff;
}

.logo {
    margin-left: 2%;
}

.me {
    margin-right: 2%;
    margin-top: 0.2%;

}

nav ul {
    margin-right: 1%;
    text-align: right;
    width: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding: 10px;
    width: auto;
}

nav ul li:hover {
    background-color: #e9f9fe;
    border-radius: 3px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
    clear: both;
    text-align: center;
}

.hero .first {
    height: 220px;
}

.hero .first .box {
    position: relative;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.hero .first .box .text {
    margin-top: 30px;
}

.hero .second {
    height: 220px;
}

.hero .second .box {
    position: relative;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.hero .second .box .text {
    margin-top: 30px;
}

